name: CI

on: ["push", "pull_request"]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:7.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd="mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        env:
          MONGO_URL: mongodb+srv://jadonay:{{secrets.MONGODB_PWD}}@tutorial.uaj6tuy.mongodb.net/?appName=tutorial
        run: pytest